# Ignore PyCharm project files
.idea/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore the virtual environment directory
venv/

# Ignore local development configuration files
*.env

qTables/records